@model TestovaciAutofac.Models.SelectionMaskViewModel

@{
    ViewBag.Title = "Vyhledávací maska";
}

<h2>Vyhledávací maska</h2>

@using (Html.BeginForm("FindSelectedVersion", "SelectionMask",FormMethod.Post,Model.SelectedVersion))
{
    Html.AntiForgeryToken();
    Html.ValidationSummary();

    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.SelectedVersion.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SelectedVersion, new SelectList(Model.AllVersions, "Value", "Text"))
                @Html.ValidationMessageFor(model => model.SelectedVersion)
            </div>
            <br /><br />
        </div>

        <div class="form-horizontal">

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="vyhledat" class="btn btn-default" />
                </div>
            </div>
        </div>

    </div>

}

